@import url(header.css);
@import url(footer.css);

body
{
    background-color: #32325d;
    margin: 0;
    padding: 0;
}

*
{
    color: white;   
    font-family: 'Montserrat', sans-serif; 
}

.search-box{
    margin: 10px auto 5px auto;
    background-color: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    width: fit-content;
}

.search-button{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    pointer-events: none;
}

.search-button i{
    color: #E0B0FF;
}

.search-text:not(:placeholder-shown),
.search-text:focus,
.search-box:hover > .search-text{ 
    width: 240px;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    transition: 0.4s;
    width: 0px;
    border-radius: 40px;
    line-height: 40px;
}

.courses-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 2vw;
    width: fit-content;
}

.course-card{
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-radius: 10px;
    background-color: rgb(39, 41, 61);
    padding: 10px;
    min-width: 250px;
}

.course-card img{
    border-radius: 10px;
}

.card-body{
    min-height: 180px;
    overflow-wrap: break-word;
}

/* @media screen and (max-width: 800px) {
    .card-body{
        height: fit-content;
    }
} */

.card-footer{
    background-color: rgb(89, 208, 47);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: inherit;
    border-radius: inherit;
}

.card-footer a{
    cursor: pointer;
}

.custom__button3 {
    transition: all 0.5s;
    position: relative;

    height: fit-content;
    width: fit-content;
    padding: 15px;
    cursor: pointer;
}
.custom__button3::before {
    border-radius: 10px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255, .1);
    transition: all 0.3s;
}
.custom__button3:hover::before {
    opacity: 0 ;
    transform: scale(.5,.5);
}
.custom__button3::after {
    border-radius: 10px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.custom__button3:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.hide{
    display: none;
}

mark{
    background-color: #423189;
    border-radius:2px;
}