body{
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

main{ 
    flex-grow: 1;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #423189;
    border-radius: 10px;
}

.about-us{
    display:inline-flex;
    flex-direction: column;
    width: 32vw;
    text-align: justify;
}

.contacts{
    display:inline-flex;
    flex-direction: column;
    line-height: 23px;
}

.social-links{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding-right: 2vw;
}

.socials{
    display: inline-flex;
    justify-content: space-between;
    column-gap: 5vw;
}

.social {
    border-radius: 50%;
    border: 0;
    height: 50px;
    width: 50px;
    background: mediumpurple;
    position: relative;
    overflow: hidden;
}

.social::before {
    content: '';
    z-index: 0;
    background: #E0B0FF;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform .5s ease;
}

.social:hover::before {
    transform: translateY(0);
}

.social img {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
}


@media screen and (max-width: 800px) {
    footer{
        flex-direction: column;
        padding-left: 2vw;
    }

     .about-us{
        width: 90%;
    }
    
    .social-links{
        display: inline-flex;
        flex-direction: column;
        text-align: left;
        padding-bottom: 2vw;
    }

    .socials{
        justify-content:flex-start;
        column-gap: 5vw;
    }
}
