header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #C6B9FF;
    z-index: 1;
    min-height: 100px;
    height: fit-content;
    overflow: hidden;
}

.logo{
    margin-left: 1vw;
    height: 4vh;
}

.title{
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.links{
    display: inline-flex;
    margin: auto;
    flex-direction: column;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    position: relative;
    float: bottom;
    list-style: circle;
}

nav li{
    display: list-item, inline;
    list-style-position: inside;
    font-size: 20px;
    float: left;
    list-style: none;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: purple;
}

nav a:active{
    color: red;
}

header input{
    visibility: hidden;
}

header{
    overflow: visible;
  }
  
  .burger-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    flex-direction: column;
    color: white;
    text-align: center;
    height: 30px;
    display: none;
  }
  
  .burger-label{
    display: flex;
    justify-content: flex-end;
  }
  
  #check-menu{
    display: none;
  }
  
  .burger-wrapper img{
    width: 40px;
    height: 40px;
    background-color:mediumpurple;
    transition: .5s all;
  }
  
  .main-burger-menu{
    display: block; 
    width: fit-content;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    transform: translateY(60px);
  }
  
  .main-burger-menu a{
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
    background-color: #423189;
    width: 100vw;
  }
  
  #check-menu:checked ~ .main-burger-menu{
    max-height: 500px;
    font-size: 16px;
  }
  
  @media screen and (max-width: 550px) {
    .burger-wrapper {
        display: inline;
    }
  
    header .nav-list {
        display: none;
    }
  
    header .title{
        display: none;
    }
  }