header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #C6B9FF;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
}

.logo{
    margin-left: 1vw;
    height: 4vh;
}

.title{
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.links{
    display: inline-flex;
    margin: auto;
    flex-direction: column;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    position: relative;
    float: bottom;
    list-style: circle;
}

nav li{
    display: list-item, inline;
    list-style-position: inside;
    font-size: 20px;
    float: left;
    list-style: none;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: purple;
}

nav a:active{
    color: red;
}

header input{
    visibility: hidden;
}

.burger {
    display: none;
    position: absolute;
    top: 5vh;
    right: 3vw;
    z-index: 2;
}

.burger img {
    height: 5vh;
    max-height: 100px;
    object-fit: scale-down;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1vh;
    left: 45vw;
    flex-wrap: wrap;
    opacity: 0;
    line-height: 23px;
}

.burger-menu a{
    text-decoration: none;
}

.burger-menu a:hover{
    color:purple;
}

@media screen and (max-width: 550px) {
    .burger {
        display: inline;
    }
    .burger-menu {
        width: 100%;
        display: flex;
    }

    .burger:checked ~ .burger-menu {
        right: 0;
        opacity: 1;
    }

    header nav {
        display: none;
    }

    header .title{
        visibility: hidden;
    }
}