body
{
    background-color: #32325d;
}

.authorization{
    width: 525px;
    height: 470px;
    margin: 2% auto auto auto;
    background: url("/images/authorization.jpg") no-repeat;
    border-radius: 10px;
}

.group{
    display: block;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Montserrat', sans-serif;
    line-height: 21px;
    color: #edf3ff;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 5%;
}

.label{
    display: block;
    line-height: 18px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.input{
    border: 0;
    display: block;
    background-color: rgb(255, 255, 255, 0.4);
    width: 385px;
    border-radius: 25px;
    line-height: 21px;
    padding: 15px 20px 15px 20px;
    border-color: white;
}

.button{
    background-color: blue;
    border-radius: 25px;
    color: white;
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    font-weight: 400px;
    width: 385px;
    font-family: 'Montserrat', sans-serif;
    border-color: blue;
    cursor: pointer;
    margin-left: 4%;
}

.authorization-title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

form{
    width: inherit;
    margin-left: 5%;
    margin-right: 5%;
}

.hr{
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 2px;
    margin-top: 60px;
}

.Task10{
    position: relative;
    margin-top: 2%;
}

.captcha-block{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-items: center;
    width: fit-content;
    height: fit-content;
    color:white;
    text-align: center;
}

.accumulator{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-items: center;
    width: fit-content;
    height: fit-content;
    color:white;
    text-align: center;
}

#captcha-input{
    text-align: center;
}